---
sudo: required
language: node_js
services: docker
node_js:
  - "10"
cache:
  -
    directories:
      - ~/.npm
      - node_modules
install:
  - "npm install"

script:
  - "npm run test"
  - "npm run build"

after_success:
  - npm install -g travis-deploy-once
  - travis-deploy-once "npm run semantic-release"
  - '[ "$TRAVIS_PULL_REQUEST" = "false" ] && [ "$TRAVIS_BRANCH" = "master" ] && curl -H "Content-Type: application/json" --data "{\"build\": true}" -X POST $DOCKER_PUSH_URL'
